.maintenance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Light gray background color */
  }
  
  .maintenance-content {
    text-align: center;
  }
  
  .maintenance-title {
    font-weight: 700;
    color: #e74c3c; /* Red color for the title */
    font-size: 3rem; /* Larger font size for the title */
    margin-bottom: 1rem; /* Add some spacing between title and description */
  }
  
  .maintenance-description {
    color: #333; /* Dark gray color for the description */
    font-size: 1.2rem; /* Font size for the description */
    margin-bottom: 1.5rem; /* Add some spacing between description and message */
  }
  
  .maintenance-message {
    color: #555; /* Slightly darker gray color for the message */
  }
  